body { 
   background-color: #F0F0F0; 
   margin: 0;
   background-image: url("pebbles.jpg");
   image-rendering:optimizeQuality; /* Safari */

  
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   background-size: cover;
  
height: auto;
object-fit:none;
}


.bgImage{ 
   max-width: 100%;
   overflow: hidden;
   margin: 0 auto;
   
}

.buttonImage { 
   max-width: 2rem;
   bottom: 2px;
   position: relative;
   left:.01rem;
   padding-left: .5rem;
}

/*  
beginning css for green button and etc    */

.startButton{
   position: fixed;
   bottom: 0;
   left: 0;

   min-height: 20PX;
   min-width:6.5rem;
   margin-right: auto;
   text-align: left;
   
}

.startButton {
   /* Default state */
   /* Base font size = 1rem * 62.5px = 87.5px */
   padding: 0 1.25rem; /* Vertical padding = 1.25 times base font size = 109px */
   /* Horizontal padding = 1.25 times base font size = 109px */
   padding-right: 6rem;
   border: none;
   background-color: #ccc;
   border-radius: 0.5rem; /* Corners rounded to 1.25 times base font size = 71px */
   cursor: pointer;
   transition: all 0.2s ease-out; 
   width: 12%;

   min-height: 5px;
   height: 80px;
   /* Smooth transitions */
 }


.navbarBottom{
   position: absolute;
   bottom: 0;
   left: 0;
   min-height: 2.5rem;
   height: 30px;
   min-height: 80px;                /* NAVBAR HEIGHT ADJUSTMENTE !!!*/
}

 /* Active / hover states */
 .startButton:hover, .startButton:active {
   box-shadow: 0 1px 3px rgba(58, 250, 0, 0.534);
 }


/*  Navbar edits   */
.navbar { 
   background-color: rgb(0, 110, 255);
   text-align: right;
   box-sizing: none;
}
.navbar-toggler-icon {
   background-color: rgb(0, 110, 255);
}
.navbar-toggler { 
   margin-bottom: 1rem;
}



#navbarBottom { 
   width: 110%;
 color:rgb(0, 110, 255) ;
}



.container-fluid { 
    margin-left: 8%;
}





/* button edits      /*/ 

.buttonContainer { 

display: inline;

margin-right: 4px;


}
.buttonContinerChildId { 
   padding-right: 4px;
 
}

#bgImage { 
   display: flex;
   
   flex-direction: row-reverse;
   justify-content: space-around;

   padding-top: 2rem;
   padding-right: 30px;


}

.buttonFont{ 
   margin-right: .5em
}





@media screen and (min-width:240px) { 
   .navbarBottom{
      margin-left: 12%;
   
   }
 
      
   }
   


@media screen and (min-width:986px) { 
   .navbarBottom{
      margin-left: 12%;
      min-height: 8px;
   height: 80px;
   font-size: 15px;
   }
   
}




@media only screen and (max-width: 640px) {
   body {
   
    
         background-color: #F0F0F0; 
         margin: 0;
         background-image: url("pebbles.jpg");
         image-rendering:optimizeQuality; /* Safari */
         background-repeat:repeat-x;
         
         background-attachment: scroll;
         background-clip: border-box;
       
         display: flex;
         flex-direction: column;
         justify-content: center;
         
         background-size:auto;
        
      height: auto;
      object-fit:scale-down;
      



   }
}